.form-group {
  margin-bottom: 20px;
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

h5 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

form {
  padding: 20px;
  background-color: #f3f4f6;
  border-radius: 8px;
}

button {
  min-width: 80px;
}

button[mat-button] {
  color: #007bff;
}

button[mat-raised-button] {
  color: #007bff;
}
