.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Controls space between cards */
  justify-content: space-evenly;
}

.content-card {
  width: 180px; /* Fixed width for uniformity */
  height: 150px; /* Fixed height for uniformity */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  margin: 5px;
}

.content-card:hover {
  box-shadow: 0 4px 8px rgba(23, 4, 194, 0.2);
}

.icon {
  width: 42px;
  height: 42px;
  margin-bottom: 8px;
}
